gencolors4
gencolors16
gencolors256
colors4.h
colors16.h
colors256.h
distance4.h
distance16.h
distance256.h
genmap4
genmap16
genmap256
colormap4.ppm
colormap16.ppm
colormap256.ppm
ppm2frm0
raw2ppm0
frm2raw0
ppm2frm1
raw2ppm1
frm2raw1
ppm2frm2
raw2ppm2
frm2raw2
ppm2frm3
raw2ppm3
frm2raw3
ppm2frm4
raw2ppm4
frm2raw4
ppm2frm5
raw2ppm5
frm2raw5
ppm2frm6
raw2ppm6
frm2raw6
START.frm
END.frm
BLACK.raw
