gencolors4s0
gencolors4s1
gencolors4a
gencolors16
gencolors256
colors4s0.h
colors4s1.h
colors4a.h
colors16.h
colors256.h
distance4s0.h
distance4s1.h
distance4a.h
distance16.h
distance256.h
genmap4s0
genmap4s1
genmap4a
genmap16
genmap256
colormap4s0.ppm
colormap4s1.ppm
colormap4a.ppm
colormap16.ppm
colormap256.ppm
ppm2frm0
raw2ppm0
frm2raw0
ppm2frm1
raw2ppm1
frm2raw1
ppm2frm2
raw2ppm2
frm2raw2
ppm2frm3
raw2ppm3
frm2raw3
ppm2frm4
raw2ppm4
frm2raw4
ppm2frm5
raw2ppm5
frm2raw5
ppm2frm6
raw2ppm6
frm2raw6
ppm2frm7
raw2ppm7
frm2raw7
START.frm
END.frm
BLACK.raw
